.page {
    --column-light: #ecd6fc;
    --column-dark: #e9ccfc;
    --header-light: #f3eaf9;
    --header-dark: #f1e3fc;
    --main-header: #e6c1ff;
}

.forecast-grid {
  width: 80%;
  margin: 0 auto;
}

/* @media screen {
  
} */

.row-item {
  display: flex;
  justify-content: space-evenly;
}

.row-headers {
  border-bottom: 1px solid lightgrey;
}

.grid-header {
  display: flex;
  flex-direction: column;
  background-color: #e6c1ff;
  padding-bottom: 16px;
}

.max-min {
  display: flex;
  margin-left: 8%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 25px;
}

.refresh-btn {
  width: max-content;
  margin-right: 20%;
  padding: 14px;
  align-self: flex-end;
}

.daily-max,
.daily-min {
  padding-right: 10px;
  padding-left: 10px;
}

.row-item p {
  width: 100%;
  min-width: 90px;
  text-align: center;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.time,
.real-feel,
.precip {
  background-color: #f1e3fc;
}

.temperature,
.cloud,
.wind {
  background-color: #f3eaf9;
}

.dark {
  background-color: var(--column-dark);
}

.light {
  background-color: var(--column-light);
}


@media (max-width: 600px) {
}

