.page {
    --column-light: #ecd6fc;
    --column-dark: #e9ccfc;
    --header-light: #f3eaf9;
    --header-dark: #f1e3fc;
    --main-header: #e6c1ff;
}



@media (min-width: 600px) {
  .forecast-grid {
      width: 80%;
      margin: 0 auto;
    }
}

.row-item {
  display: flex;
  justify-content: space-evenly;
}

.grid-header {
  display: flex;
  flex-direction: column;
  background-color: #e6c1ff;
  padding-bottom: 16px;
}

.max-min {
  display: flex;
  margin-left: 8%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 25px;
}

.refresh-btn {
  width: max-content;
  margin-right: 20%;
  padding: 14px;
  align-self: flex-end;
}

.daily-max,
.daily-min {
  padding-right: 10px;
  padding-left: 10px;
}

.location {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
}

.row-item p {
  width: 100%;
  text-align: center;
  flex: fit-content;
  margin: 0;
  padding: 16px 5px;
  font-size: 13px;
  max-width: 73px;
}

@media (min-width: 600px) {
  .row-item p {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    max-width: 137px;
  }
}

.row-headers {
  /* height: 80px; */
}

.time,
.real-feel,
.precip {
  background-color: #f1e3fc;
}

.temperature,
.cloud,
.wind {
  background-color: #f3eaf9;
}

.dark {
  background-color: var(--column-dark);
}

.light {
  background-color: var(--column-light);
}
