.page {
    --column-light: #ecd6fc;
    --column-dark: #e9ccfc;
    --header-light: #f3eaf9;
    --header-dark: #f1e3fc;
    --main-header: #e6c1ff;
}

.row-item {
  /* display: flex; */
  /* justify-content: space-evenly; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(16%, auto);
}

.margin-element {
  margin: 5px;
}

.padding-element {
  padding: 5px;
}

.refresh-btn {
  width: max-content;
  margin-right: 20%;
  padding: 14px;
  align-self: flex-end;
}

.row-item p {
  font-size: 13px;
  padding: 16px 5px;
  text-align: center;
}

@media (min-width: 600px) {
  .row-item p {
    font-size: 16px;
  }
}
